.App {
  display: flex;
  flex-direction: column;
  background: #dddddd;
  align-items: center;
  height: 100vh;
}
.difficulty__select {
  background-color: #222831;
  height: 20%;
}

.diff__select {
  margin: 55px;
  width: 650px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  outline: none;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
form {
  display: flex;
  flex-direction: column;
}
.quiz__container {
  /* background: green; */
  background: #30475e;
  height: 70%;
  display: flex;
  width: 60%;
  flex-direction: column;
}

.quiz__question {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1.2em;
  flex-direction: column;
  color: azure;
}
.quiz__options {
  flex: 4;
  display: flex;
  justify-content: flex-start;
  padding: 1.2em 0 0 1.2em;
  flex-direction: column;
}
.answer__options {
  padding: 1.2em;
  background: #7c9473;
  width: 80%;
  margin-top: 0.8em;
  cursor: pointer;
  border-radius: 1em;
  color: azure;
}
.options__text {
  margin: 1.2em;
}

.question__navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.prev__question,
.next__question,
.submit__answers {
  display: flex;
  height: 2em;
  width: 10em;
  justify-content: center;
  align-items: center;
  margin: 1.2em;
  background: #d6efc7;
  cursor: pointer;
}
