.App {
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  align-items: center;
  height: 100vh;
}
.difficulty__select {
  background-color: #222831;
  height: 20%;
}

.diff__select {
  margin: 55px;
  width: 60%;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  outline: none;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quiz__container {
  /* background: green; */
  background: #30475e;
  height: 70%;
  display: flex;
  width: 60%;
  flex-direction: column;
}

.quiz__question {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1.2em;
  flex-direction: column;
  color: azure;
  align-items: center;
}
.quiz__options {
  flex: 4;
  display: flex;
  justify-content: flex-start;
  padding: 1.2em 0 0 1.2em;
  flex-direction: column;
}
.answer__options {
  padding: 1.2em;
  background: #7c9473;
  width: 80%;
  margin-top: 0.8em;
  cursor: pointer;
  border-radius: 0.2em;
  color: azure;
}
.options__text {
  margin: 1.2em;
}

.question__navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.prev__question,
.next__question,
.submit__answers {
  display: flex;
  height: 2em;
  width: 10em;
  justify-content: center;
  align-items: center;
  margin: 1.2em;
  background: #d6efc7;
  cursor: pointer;
  border-radius: 0.2em;
}

.results {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.answers__container {
  width: 100%;
  display: flex;
  height: 5em;
  justify-content: space-evenly;
}
.answer {
  height: 5em;
}

.score__details {
  height: 5em;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 2;
  background: #383e56;
  color: white;
  padding-left: 1.2em;
}

.user__question {
  height: 4em;
  background: #f0e4d7;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 1.2em;
  align-items: center;
  font-size: 1.2em;
  flex-wrap: wrap;
}
.results__header {
  font-size: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #383e56;
  color: white;
}
